<!-- templates/member_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Details</title>
</head>
<body>
    <h1>상세정보</h1>
    <h2>계좌번호: {{ member_details.AccountNumber }}</h2>
    <h3>이름: {{ member_details.name }}</h3>
    <h3>상위번호: {{ member_details.Upper_Name }}</h3>

    <h2>전체로그</h2>
    <table border="1">
        <thead>
            <tr>
                <th>시간</th>
                <th>수익</th>
                <th>잔액</th>
            </tr>
        </thead>
        <tbody>
            {% for log in trading_logs %}
                <tr>
                    <td>{{ log.time }}</td>
                    <td>{{ log.profit }}</td>
                    <td>{{ log.balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
