<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록페이지</title>
</head>
<body>
    <h1>등록페이지</h1>
    <form method="post" action="/register/">
        <label for="AccountNumber">계좌번호:</label>
        <input type="number" name="AccountNumber" id="AccountNumber" required><br>

        <label for="name">이름:</label>
        <input type="text" name="name" id="name" required><br>

        <label for="Upper_Name">상위계좌번호:</label>
        <input type="number" name="Upper_Name" id="Upper_Name" required><br>

        <button type="submit">등록</button>
    </form>
    <a href="/">메인으로</a>

    {% if error %}
        <script>
            alert("{{ error }}");
            window.location.href = "/register";
        </script>
    {% endif %}
    <script>
        function validateForm() {
            var accountNumber = document.getElementById('AccountNumber').value;
            var upperName = document.getElementById('Upper_Name').value;

            if (!/^\d+$/.test(accountNumber)) {
                alert('Please enter only digits for Account Number');
                return false;
            }

            if (!/^\d+$/.test(upperName)) {
                alert('Please enter only digits for Upper Name');
                return false;
            }

            return true;
        }
    </script>
</body>
</html>
